<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{.Title}}</title>
	<link rel="stylesheet" href="./static/css/bulma.min.css">
</head>
<body>
	
	<div class="container">
		<div class="content">
			<button class="button is-link" id="add-button">Add Data Users</button>
			<hr>
			<table class="table is-bordered is-striped is-hoverable is-fullwidth" id="table-data">
				<thead>
					<tr>
						<th>No.</th>
						<th>Name</th>
						<th>Email</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					{{range $key, $value := .Data}}
					<tr>
						<td>{{.Number}}.</td>
						<td>{{.Name}}</td>
						<td>{{.Email}}</td>
						<td>
							<button class="button is-success is-small edit-button" data-id="{{.Id}}">Edit</button>
							<button class="button is-danger is-small delete-button" data-id="{{.Id}}">Delete</button>
						</td>
					</tr>
					{{end}}
				</tbody>
			</table>
		</div>
	</div>

	<div class="modal" id="add-modal">
		<div class="modal-background"></div>
		<div class="modal-content">
			<div class="box">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque consequuntur, recusandae error ut, aut quis maiores quod alias vel vitae et amet obcaecati voluptatem molestiae officiis autem neque voluptate quaerat.
			</div>
		</div>
		<button class="modal-close is-large" aria-label="close"></button>
	</div>
	
	<script src="./static/js/jquery-3.4.1.min.js"></script>
	<script>
		$(document).ready(function() {
			// open modal
			$('#add-button').click(function(e) {
				$('#add-modal').addClass('is-active');
			});

			// close modal
			$('.modal-close').click(function(e) {
				$(this).closest('.modal').removeClass('is-active');
			});
		});
	</script>
</body>
</html>